:root {
  --background-color: #f3f3fa;
  --background-color-secundary: #49446b;
  --color-principal: #7469b6;
  --color-secundary: #FFE6E6;
  --color-third: #ad88c6;
  --color-black: #000;
  --color-text-principal: #e1afd1;
  --color-text: #2b283e;
  --color-text-card: #ffe6e6;
  --color-border: #d6d9ef;
  --color-border-secundary: #F1EFFB;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--background-color);
}

/* Layout Principal */
.layout {
  position: relative;
  padding-bottom: 2rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

/* css shared */
.team__header,
.proyect__header, 
.results__header,
.desing__header {
  position: relative;
  margin: 8rem auto 8rem auto;
  text-align: center;
}

.layout__home,
.layout__team,
.layout__proyect,
.layout__results,
.layout__desing {
  position: relative;
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  padding: 7rem;
}

/* Menu */
.layout__menu {
  position: fixed;
  right: 0;
  width: 50rem;
  z-index: 10;
  top: calc(50% - 30rem);
}

.menu__options{
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
}

.menu__link{
  position: relative;
  padding: 2rem;
  padding-right: 10rem;
  font-size: 2rem;
  color: var(--color-principal);
  transition: padding 300ms ease-in-out;
}

.menu__link::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-left: 2rem;
  height: 3px;
  width: 100%;

  background-color: var(--color-third);
  transition: all 0.3s ease-in-out;
}

.menu__link--active{
  padding-right: 15rem;
}

.menu__link:hover{
  padding-right: 20rem;
}


/* home */
.home__container {
  position: relative;
}
.home__header {
  display: block;
  text-align: center;
  height: 800px;
  margin-top: 25rem;
}

.home__title {
  margin: 10rem auto;
  font-family:  "Inknut Antiqua", Arial, Helvetica, sans-serif;
  font-size: 15rem;
  background: linear-gradient(
    var(--color-principal) 30%,
    var(--color-third) 70%
  );
  background-clip: text;
  color: transparent;

  animation: bounceInDown 1s both;
}

.home__shapes {
  position: absolute;
  top: -250px;
  left: 450px;
  z-index: -1;
}

.shapes__item--base {
  position: absolute;
  bottom: -280px;
  right: -40px;
  z-index: -2;
}

.shapes__item--ellipse {
  width: 600px;
  animation: openImg 1s, backgroudImg 5s infinite;
}

.shapes__container--base {
  width: 800px;
}

.layout__line {
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid var(--background-color-secundary);
  height: 0px;
  border-radius: 8px;
}

/* Teams */
.header__title {
  display: inline;
  font-size: 8rem;
  font-weight: 600;
  background-color: var(--background-color);
  color: var(--color-text);
  padding: 0 5rem;
}

.header__line {
  position: absolute;
  top: 50%;
  left: 100px;
  right: 100px;
  border: 5px solid var(--color-text);
  z-index: -1;
}

.team__cards {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-bottom: 15rem;
}

.cards__card-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cards__card-container:nth-child(even) {
  align-items: end;
}

.team__card {
  display: flex;
  background-color: var(--color-principal);
  color: var(--color-text-card);
  max-width: 900px;
  gap: 5.5rem;
  padding: 2rem 5rem;
  height: 20rem;
  border-radius: 8px;
}

.card__container-img {
  position: relative;
  border-radius: 5px;
  width: 1000px;
}

.card__img {
  width: 100%;
  position: absolute;
  top: -45px;
}

.card__text {
  font-size: 2rem;
}

/* Proyecto */
.proyect__proyects {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
}

.proyects__proyect {
  width: calc(50% - 3rem);
}

.proyect__container-img {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.proyect__content {
  position: relative;
  background-color: var(--color-principal);
  border-radius: 10px;
  padding: 3rem 5rem;
  color: white;
  transform: translateY(-10rem);
}

.proyect__title {
  
  position: absolute;
  font-size: 4rem;
  top: calc(50% - 2rem);
  left: calc(50% - 14rem);
  transform: rotateX(180deg);
  color: transparent;
}

.proyect__company {
  width: 100%;
  color: white;
  background-color: var(--color-principal);
  padding: 5rem 7rem;
  border-radius: 1rem;
}

.proyect__container-img:hover + .proyect__content .proyect__text{
  color: transparent;
}

.proyect__container-img:hover + .proyect__content .proyect__title {
  font-family: "Inknut Antiqua", sans-serif;
  background: linear-gradient(
    var(--background-color),
    var(--color-border)
  );
  background-clip: text;
}

.proyect__container-img:hover + .proyect__content {
  animation: flip-scale-up-hor 0.5s linear both;
}

.company__title{
  font-size: 2rem !important;
  margin-bottom: 1rem;
}

/* Results */
.result__content{
  width: auto !important;
  height: 500px;
  background-color: var(--color-text);
  margin: 5rem 20rem;
  margin-bottom: 15rem;
  padding: 10rem 20rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
}

.result__data{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.result__title{
  width: 100%;
  font-family: "Inknut Antiqua", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3;
  font-weight: 600;
  color: var(--background-color);
  text-align: center;
}

.result__res{
  position: relative;
  width: 230px;
  height: 230px;
}

.result__res::after{
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 30px solid var(--color-border-secundary);
  border-radius: 100%;
  
}

.result__res::before {
  position: absolute;
  z-index: 10;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  color: var(--background-color);
  font-size: 4rem;
  font-weight: 600;
}

.result__res--A::before{
  content: '80%';
  background: 
    radial-gradient(
      closest-side, 
      var(--color-text) 59%, 
      transparent 60% 100%
    ),
    conic-gradient(
      var(--color-third) 80%, 
      transparent 0%
    );
}

.result__res--B::before{
  content: '20%';
  background: 
    radial-gradient(
      closest-side, 
      var(--color-text) 59%, 
      transparent 60% 100%
    ),
    conic-gradient(
      transparent 80%, 
      var(--color-principal) 0%
    );
}


/* footer */
.footer{
  width: 100%;
}

.footer__header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.footer__fleft{
  flex-basis: 39%;
  margin: 2rem;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo{
  width: 500px;
}

.footer__middle--line{
  flex-basis: 2px;
  min-height: 40rem;
  border-radius: 100% !important;
  height: 100%;
  background-color: var(--color-text);
  margin: 2rem;
}

.footer__fright{
  margin: 2rem;
  flex-basis: 70%;
}

.fright__list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.fright__img{
  width: 100px;
}

.footer__foot{
  height: 80px !important;
  width: 100%;
}

.footer__content{
  display: flex;
  padding: 0rem 4rem;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--color-text);
  font-size: 0;
}

.footer__left, .footer__rigth{
  font-size: 1.6rem;
  color: var(--color-border);
}

/* design process */
.resume__timelines{
  margin-bottom: 20rem;
}

.timelnes__timeline{
  position: relative;
  width: 100%;
  margin-bottom: 3rem;   
  
  display: flex;
  flex-direction: row;
}

.timeline__header{
  flex-basis: 30%;
  text-align: right;
  padding-right: 5rem;
}

.timeline__year{
  margin: 1.2rem 0;
  line-height: 1.9rem;
  font-size: 2rem;
}

.timeline__company{
  display: block;
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--color-text);
}

.timeline__description{
  width: 70%;
  padding-left: 5rem;
  padding-right: 2rem;
}

.timeline__title{
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
}

.timelnes__text{
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.timeline__divider{
  width: 5px;
  border-radius: 20px;
  background-color: var(--color-border);
  position: absolute;
  top: 0;
  left: 30%;   
  bottom: -50px;
}

.timeline__divider::before{
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -1.3rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-principal);
  border-radius: 10rem;
  opacity: 0.25;
}

.timeline__divider::after{
  content: "";
  position: absolute;
  top: 1.2rem;
  left: -0.55rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--background-color-secundary);
  border-radius: 10rem;
  border: 0.2rem solid var(--color-principal);
  opacity: 1;
}


/* Animations */
@keyframes backgroudImg {
  from {
    filter: drop-shadow(5px 5px 15px rgba(8, 1, 53, 0.16));
  }
  0%,
  100% {
    filter: drop-shadow(5px 5px 15px rgba(8, 1, 53, 0.16));
  }
  50% {
    filter: drop-shadow(5px 5px 15px rgba(40, 8, 244, 0.484));
  }
  to {
    filter: drop-shadow(5px 5px 15px rgba(8, 1, 53, 0.16));
  }
}

@keyframes openImg {
  from {
    transform: scale(10);
  }

  to {
    transform: scale(1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}
